@tailwind base;
@tailwind components;
@tailwind utilities;





.header {
    color: white;
}

.container {
    max-width: 1300px !important;
    margin: auto;
}

section {
    margin-top: 5rem;
}

.kampPreview {
    transition: transform 0.5s;
}

.kampPreview:hover {
    transform: scale(1.05);
}

.klublogo {
    width: auto !important;
    height: 50px !important;
}

.titleSection {
    margin-top: 0 !important;
    height: 700px !important;
    background-size: cover !important;
    background-image: url('https://www.vff.dk/images/2022-2023/Hjemmebane/RFC0503/_DS92944-2.jpg');
}

.headerlogo {
    width: auto !important;
    height: 100px !important;
}