@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    color: white;
}

.container {
    max-width: 1300px !important;
    margin: auto;
}

section {
    margin-top: 5rem;
    padding: 1rem;
}

.kampPreview {
    transition: transform 0.5s;
}

.kampPreview:hover {
    transform: scale(1.05);
}

.klublogo {
    width: auto !important;
    height: 50px !important;
}

.titleSection {
    margin-top: 0 !important;
    height: 700px !important;
    background-size: cover !important;
    background-image: url('https://www.vff.dk/images/2022-2023/Hjemmebane/RFC0503/_DS92944-2.jpg');
}

.headerlogo {
    width: auto !important;
    height: 100px !important;
}
/* Heading Display Classes */
.h1-display {
    font-size: 2.5rem;
    font-family: Bahnschrift, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

.h2-display {
    font-size: 2rem;
    font-family: Bahnschrift, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

.h3-display {
    font-size: 1.75rem;
    font-family: Bahnschrift, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

.h4-display {
    font-size: 1.5rem;
    font-family: Bahnschrift, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

.h5-display {
    font-size: 1.25rem;
    font-family: Bahnschrift, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2;
}


@media (max-width: 768px) {
   .klublogo {
    width: auto !important;
    height: 40px !important;
}
}
